* {
  font-family: Arial;
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #eee;
}

header {
  background-color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: end;
  padding: 1rem;
}

header a {
  color: black;
  font-size: 1.5rem;
}

header nav ul {
  width: 100%;
}

ul {
  list-style-type: none;
}

header nav li {
  display: inline-block;
}

main {
  margin: 2rem;
}

#main_grid {
  margin-top: 2rem;
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, 1fr);
}

article {
  display: flex;
  background-color: #fff;
}

#spotlight {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

#spotlight img {
  width: auto;
}

#spotlight .category_text {
  padding-right: 10%;
  width: 20rem;
}

.square_tile {
  flex-direction: column;
  color: blue;
}

.square_tile img {
  width: 100%;
}

.article {
  padding: 1rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.large_tile {
  flex-direction: row;
  background-color: #f22648;
  padding: 1rem;
}

.large_tile h2 {
  margin-top: 1rem;
}

.large_tile img {
  width: 50%;
}

.right {
  grid-column: 2 / span 2;
}

.left {
  grid-column: 1 / span 2;
}

.category_text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

a {
  text-decoration: none;
}

.category_text a {
  text-align: center;
  font-weight: bold;
  margin-bottom: 1rem;
  /*width: 10rem;*/
  background-color: blue;
  color: #fff;
  border: 1rem solid blue;
  border-radius: 8px;
  justify-self: end;
  align-self: start;
}

.category_text a:hover {
  background-color: #4444ff;
  border-color: #4444ff;
}

body footer nav {
  background-color: #31485f;
  padding: 1rem;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

body footer nav li {
  margin: 0.5rem;
}

body footer nav a {
  color: #f1f7ff;
}

#legal_social {
  padding: 1rem;
  background-color: #324456;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

#legal_social p {
  margin: 1rem;
  width: 60%;
}

#legal_social ul {
  display: flex;
}

.logo {
  margin: 0.5rem;
  width: 2rem;
}
